.container{
    display: flex;
    gap:100px;
}
.textcontainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.title{
    font-size: 60px;
}
.desc{
    font-size: 20px;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.box h1{
    color: blue;
}
.imgContainer{
    position:relative;
    
    flex:1;
}
.img{
    object-fit: contain;
}
@media (max-width:500px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .boxes{
        flex-direction: column;
        gap:40px;
    }
}