.container{
    display:flex;
    align-items: center;
    gap:100px;
}
.imgContainer{
    flex:1;
    height: 500px;
    position: relative;
}
.formContainer{
    flex:1;
}
.form{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.form input,
.form textarea{
    padding:20px;
    border-radius: 5px;
    border:none;
    outline:none;
    background-color: var(--bg);
    color: var(--text);
}
.form button{
    padding: 20px;
    background-color:cadetblue;
    border:none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.img{
    object-fit: contain;
}

@media (max-width:500px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}